.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
    margin-bottom: 32px;
    margin-left: 136px;
    margin-right: 168px;
    margin-top: 10px;
}
.wrapper{
    display: flex;
    background-color:#EBE0E9;
    height: 60px;
}
.btn{
    height: 60px;
    width: 173px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SFUIDisplayRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #2D2E46;
    opacity: 0.4;
}
.btn:hover{
    background-color:#DCCCDB;
    opacity:1;
}
.btnWrap{
    display: flex;
}
.btnImg{
    margin-right: 10px;
}
.btnLogout {
    height: 23px;
}
