.mainHeader {
    /*background-color: #202126;*/
    /*margin-bottom: 5px;*/
    /*border-bottom: 5px solid rgba(9, 42, 97, 0.35);*/
    /*border-bottom: 5px solid #092a61;*/
    /*box-shadow: 0px 4px 18px rgba(9, 42, 97, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);*/
    /*background: linear-gradient(180deg, #092a61 0%,  #d3fbf8 50%);*/

}

.wrapper{
    display: flex;
    /*background-color:#EBE0E9;*/
    /*background-color: #d3fbf8;*/
    height: 60px;
}



.title {
    margin: auto;
}
.title h1 {
  /*font-family: 'Poppins';*/

  /*font-family: 'Zilla Slab Highlight', cursive;*/
    font-family: 'Cedarville Cursive', cursive;
    /*font-family: 'Redacted Script', cursive;*/


    /*font-style: normal;*/
    /*font-weight: 600;*/
    font-size: 24px;
    line-height: 39px;
    /*color: #2D2E46;*/
    color: #092a61;
    /*margin-bottom: 32px;*/
    /*margin-left: 136px;*/
    /*margin-right: 168px;*/
    /*margin-top: 10px;*/

    /*text-align: left;*/
}

.btnWrap{
    display: flex;
    /*margin-right: 10%;*/
    width: 60%;
}

a {
    text-decoration: none;
}

.btn{
    height: 60px;
    width: 173px;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SFUIDisplayRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #2D2E46;
    opacity: 0.7;
}
.active{
    background-color: rgba(70, 147, 170, 0.19);
    opacity:0.9;
}
.btn:hover{
    border-bottom: 3px solid #092a61;

}

.btnImg{
    margin-right: 10px;
}
.btnLogout {
    height: 23px;
}
