.header {
  display: flex;
  justify-content: center;
}

.header__item {
  margin: 0px 100px 0px 0px;
  font-weight: bold;

  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.table__row {
  display: flex;
  justify-content: center;
}

.table__name {
margin-right: 50px;
}

.table__cards {
  margin-right: 50px;
}

.table__updated {
  margin-right: 50px;
}

.table__created {
  margin-right: 50px;
}