.range {
    padding-left: 40px;
}

.container {
    width: 85%;
    min-height: 87vh;
    /*height: auto;*/
    margin: 1% auto;
    display: flex;
    border-radius: 10px;
}

.profile__info {
    width: 20%;
    min-width: 225px;
    display: flex;
    flex-direction: column;
    background-color: #ecf8f7;
    font-family: 'SFUIDisplayRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2D2E46;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profile__infoPage {
    background-color: #C2E4E7;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.profile__main {
    padding: 2% 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile__textName {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 27px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.profile__textName:hover {
    transform: scale(1.1);
}
.profile__ChooseOwner {
    margin-top: 33px;
}
.profile__photo_wrapper{

}
.profile__photo {
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
    cursor: pointer;
}

.editAvatar {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.editAvatar:before {
     content: '';
     width: 35px;
     height: 35px;
     background: url('../../image/editAvatar.svg') 0 0 /cover no-repeat;
     border-radius: 50%;
     bottom: 0;
     right: 0;
    transition: transform 0.3s ease-in-out;
 }

.editAvatar:hover::before {
    position: absolute;
}

