.range {
  padding-left: 40px;
}

.profile__body{
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
}

.profile__info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
