.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password {
  max-width: 480px;
  padding: 25px 30px;
  background-color: #ECECF9;
  border-radius: 8px;
  // .password__body
  &__body {
    display: flex;
    flex-direction: column;
  }
  // .password__title
  &__title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 26px;
  }
  // .password__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 55px;
  }
  // .password__inp__wrap
  &__inp__wrap {
    margin-bottom: 30px;
    position: relative;
  }
  // .password__input
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #092A61;
    padding: 5px;
    background-color: #ECECF9;
  }


  // .password__icon
  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 0;
    right: 15px;
  }


  // .password__text
  &__text {
    font-size: 14px;
    color: #092A61;
    margin-bottom: 90px;
    text-align: left;
    font-family: SFUIDisplayMedium;
  }

}

