.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot {
    height: 540px;
    max-width: 413px;
    padding: 25px 30px;
    background-color: #F9F9FE;
}

.forgot__body {
    display: flex;
    flex-direction: column;
}

.forgot__title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 26px;
}

.forgot__subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 55px;
}

.loginLabel{
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #24254A;
    opacity: 0.5;
    text-align: left;
}

.forgot__input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2D2E46;
    padding: 5px;
    background-color: #F9F9FE;
}

.forgot__info {
    font-size: 14px;
    color: #2D2E46;
    margin-bottom: 30px;
    text-align: left;
    font-family: SFUIDisplayMedium;
}

.forgot__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    padding: 9px 70px;
    margin: 0 auto 70px auto;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.forgot__button:hover {
    background: #4a4ebc;
}

.forgot__login {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #21268F;
    text-decoration: none;
}