.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password {
  max-width: 480px;
  padding: 25px 30px;
  background-color: #ECECF9;
  // .password__body
  &__body {
    display: flex;
    flex-direction: column;
  }
  // .password__title
  &__title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 26px;
  }
  // .password__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 55px;
  }
  // .password__inp__wrap
  &__inp__wrap {
    margin-bottom: 30px;
    position: relative;
  }
  // .password__input
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #2D2E46;
    padding: 5px;
    background-color: #ECECF9;
  }


  // .password__icon
  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 0;
    right: 15px;
  }


  // .password__text
  &__text {
    font-size: 14px;
    color: #2D2E46;
    margin-bottom: 90px;
    text-align: left;
    font-family: SFUIDisplayMedium;
  }

  // .password__button
  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    padding: 9px 70px;
    margin: 0 auto 70px auto;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      background: #4a4ebc;
    }
  }
}

