.Register {
    background: #F9F9FE;
    width: 413px;
    padding: 25px 33px 60px 33px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.loginLabel{
    margin-top: 24px;
    font-family: 'SFUIDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:rgba(36, 37, 74, 0.5);
    text-align: left;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
    margin-bottom: 32px;
}

.subtitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}

.formBox {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    text-align: left;
    
}


.Loginlabel {
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #24254A;
    opacity: 0.5;
    text-align: left;
    
}

.Input{
    width: 347px;
    height: 48px;
    align-items: center;
    color: #2D2E46;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #2D2E46;
    margin-bottom: 15px;
}

.InputWrapper {
    position: relative;
}

.btnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 84px;
}

.btnLeft {
    text-align: center;
    letter-spacing: 0.01em;
    color: #21268F;
    opacity: 0.8;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background: #D7D8EF;
    border-radius: 30px;
    font-family: "SFUIDisplay-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    width: 124px;
    height: 36px;
    cursor: pointer;
}

.btnRight {
    width: 187px;
    height: 36px;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-family: "SFUIDisplay-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}