.App {
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}


.app-wrapper {
  margin:  0 auto;
  display: grid;
  width: 80%;

  grid-template-areas:
        "h h"
        "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  border: 1px solid #054792;

}