.container {
    border-radius: 10px;
    min-height: 86vh;
    padding: 2% 5%;
    width: 90%;
    /*margin: 1% auto;*/
    margin: 11vh auto 2%;
    background-color: white;
}

.cardsPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 78vh;
}

.cardsPackTitleWrapper {
    display: flex;
    align-items: baseline;
}

.Table__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ArrowBack_cardsPage {
    margin-right: 20px;
}

.back {
    font-weight: 900;
    cursor: pointer;
    height: 20px;
    opacity: 0.8
}