.tableMain{
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  overflow: auto;
  width: 669px;
}
.container{
  width: 1008px;
  height: auto;
  margin: 0 auto;
  display: flex;

}
.tableWrapper{
  border: none;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 669px;
}
.table__row {
  text-align: left;
  height: 48px;    
  color: #2D2E46;
  font-family: "SFUIDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  align-items: center;

}
.tableHeader{
  background-color: #ECECF9;
  cursor: pointer;
  padding: 0 5px; 
  gap: 10px;
  height: 48px;
}


.table__head{

  text-align: left;     
  color: #2D2E46;
  font-family: "SFUIDisplayRegular";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
}

.table__head:first-child, .table__data:first-child{
  width: 182px;
  padding-left: 24px;
}

.table__head:nth-child(2), .table__data:nth-child(2){
  width: 82px;
}

.table__head:nth-child(3), .table__data:nth-child(3){
  width: 135px;
}

.table__head:nth-child(4), .table__data:nth-child(4){
  width: 109px;
}

.table__head:nth-child(5), .table__data:nth-child(5){
  width: 161px;
  padding-left: 10px;
}

.table__row:nth-child(even) {
  background-color:#F8F7FD;
}

.table__row:nth-child(odd) {
  background-color:#FFFFFF;
}
.table__headRow {
  height: 48px;
    text-align: left;     
    color: #2D2E46;
    font-family: "SFUIDisplayRegular";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
}

.table__data {
  font-family: "SFUIDisplayRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;

}
.table__data:first-child {
  cursor: pointer;
}

.add {
  background: #21268F;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ECECF9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 184px;
  height: 36px;
  font-family: "SFUIDisplayRegular";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.back {
  font-weight: 900;
  cursor: pointer;
  height: 20px;
}

.buttonWrapper{
  
  background-color: #D7D8EF;
  color:#21268F;
  font-weight: 600;
  font-family: "SFUIDisplayRegular";

}
.delButtonWrapper{
  color: #FFFFFF;
  background-color: #F1453D;
  font-family: "SFUIDisplayRegular";
}
.buttons{
  
  display: flex;
    align-items: center;
    gap: 10px;
}

.Table__top{
  display: flex;
  align-items: center;
}
.Table__name{
  margin-top: 24px;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #2D2E46;
}
